---
import BaseLayout from "./BaseLayout.astro";
const {
  content: { title, description, publicationDate, tags },
} = Astro.props;

const formattedDate = publicationDate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<BaseLayout title={title} description={description}>
  <div class="space-y-8">
    <div class="space-y-2">
      <h1 class="inline-block text-4xl font-extrabold">
        {title}
      </h1>
      <p class="text-sm">{formattedDate}</p>
      <div class="flex flex-wrap gap-2">
        {
          tags.map((tag: string) => (
            <a href={`/blog/tags/${tag}`} class="link">
              #{tag}
            </a>
          ))
        }
      </div>
    </div>
    <p>{description}</p>
    <article
      class="prose-dark prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg"
    >
      <slot />
    </article>
  </div>
</BaseLayout>
